<h1 class='page-header'>Mentor Login</h1>
<form (submit)='onLoginSubmit()'>
  <div class='form-group'>
    <label>Username</label>
    <input type='text' class='form-control' [(ngModel)]='username' name='username'>
  </div>
  <div class='form-group'>
    <label>Password</label>
    <input type='password' class='form-control' [(ngModel)]='password' name='password'>
  </div>
  First Time?&nbsp;<a class='' [routerLink]="['/app2/register']">Click Here</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class='' [routerLink]="['/app2/forgot']">Forgot Password?</a>
  <br/>
  <br/>
  <input type='submit' class='btn btn-primary' value='Login'>

</form>
