
.col-sm-3 a {
  background-color: #001A72; /* Grey background color */
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 10px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}
.col-sm-3 a.active {
  background-color: #EA7600; /* Add a green color to the "active/current" link */
  color: white;
}

.col-sm-3 a:hover {
  background-color: #EA7600; /* Dark grey background on mouse-over */
}

/* h4 {
  padding-left: 30px;
} */

.col-sm-12 {
  border-bottom: 1px solid #dddddd;
}
h1 {
  color: #EA7600;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
h3 {
  color:#001A72;
  font-family: "Open Sans", sans-serif;
}
#task {
  border: #d2d2d2;
  border-style: inset;
  border-width: thin;
  padding: 10px;
  border-radius: 10px;
  min-height: 80px;
  /* margin-right: 10px; */
}
span:hover {
  color: #434343;
}
